/* navbar dan footer sama dengan index.css */


/* main */
main {
  padding: 80px 0px 20px;
}
.main-judul {
  margin: 10px 0px 20px;
  line-height: 1.8em;
}
.main-judul h1 {
  text-align: left;
}
.main-judul p {
  font-family: sans-serif;
  font-weight: 300;
  margin-top: 8px;
}


.main-isi-quote {
  font-family: sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: right;
  line-height: 1.8em;
}


/* footer */
footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

/* responsive mobile */
@media only screen and (max-width: 600px) {
  main {
    padding: 20px 0px 20px;
    font-size: 12px;
  }
  .main-judul h1 {
    font-size: 18px;
  }

  footer {
    position: relative;
  }
}